use crate::apis;
use sp_runtime::create_runtime_str;
use sp_version::{self, RuntimeVersion};

// This file is managed by CI. Change `runtime/src/runtime_version.rs.template`
// for persistent changes.
// To learn more about runtime versioning, see:
// https://docs.substrate.io/main-docs/build/upgrade#runtime-versioning
#[sp_version::runtime_version]
pub const VERSION: RuntimeVersion = RuntimeVersion {
    spec_name: create_runtime_str!("predictor-runtime"),
    impl_name: create_runtime_str!("predictor-runtime"),
    authoring_version: 1,
    spec_version: {{SPEC_VERSION}},
    impl_version: 1,
    apis: apis::RUNTIME_API_VERSIONS,
    transaction_version: 1,
    state_version: 1,
};
